<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration>
        <indexes>
          <index id="sitecore_core_index">
            <configuration>
              <documentOptions>
                <exclude hint="list:AddExcludedField">
                  <IsDisplayedinSearchResults>
                    <patch:delete/>
                  </IsDisplayedinSearchResults>
                </exclude>
              </documentOptions>
            </configuration>
          </index>
          <index id="sitecore_master_index">
            <configuration>
              <documentOptions>
                <exclude hint="list:AddExcludedField">
                  <IsDisplayedinSearchResults>
                    <patch:delete/>
                  </IsDisplayedinSearchResults>
                </exclude>
              </documentOptions>
            </configuration>
          </index>
          <index id="sitecore_web_index">
            <configuration>
              <documentOptions>
                <exclude hint="list:AddExcludedField">
                  <IsDisplayedinSearchResults>
                    <patch:delete/>
                  </IsDisplayedinSearchResults>
                </exclude>
              </documentOptions>
            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>